{% extends 'cosinnus/v2/dashboard/timeline_item_base.html' %}
{% load i18n cosinnus_tags %}

{% block container_class %}timeline-item-event{% endblock %}

{% block creation_label %}{% trans "has created an event" %}{% endblock %}

{% block icon %}{% if item.state == 2 %}fa-calendar-check-o{% else %}fa-calendar{% endif %}{% endblock %}

{% block title %}{{ item.title }}{% endblock %}

{% block subtitle %}
	{% include 'cosinnus_event/common/humanized_event_time.html' with event=item %}
	{{ block.super }}	
{% endblock %}

{% block body %}
	{{ item.note|textfield }}
{% endblock %}

{% block action_buttons %}
	{% include 'cosinnus/v2/dashboard/timeline_button_like.html' with item=item %}
	{% include 'cosinnus/v2/dashboard/timeline_button_follow.html' with item=item %}
{% endblock %}

{% comment %}  
{% block comments %}
	{% include 'cosinnus/v2/dashboard/timeline_item_comments.html' with item=item %}
{% endblock %}
{% endcomment %}


