{% load i18n cosinnus_tags %}

{% if events %}
    {% for event in events %}
        <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
            <ul class="media-list">
                <li class="media">
		            <a class="pull-left square-date-icon" href="#">
		                <div>{{ event.from_date|date:"d" }}</div>
		                <div>{{ event.from_date|date:"M" }}</div>
		            </a>
                    <a class="pull-right" href="{{ event.get_absolute_url }}">
                        <i class="fa fa-calendar"></i>
                    </a>
                    <div class="media-body">
                        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=event.group %}
                        </div>

                    </div>
                </li>
            </ul>
        </div><!-- btn -->

    

    {% endfor %}
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-tasks"></i>
                </a>
                <div class="media-body">
                    {% trans "There are no upcoming events" %}
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}


<script type="text/javascript">
    var cosinnus_calendarWidgetEvents = [
        {% for event in all_upcoming_events %}
            {% if event.from_date %}
            {
                title: $.cosinnus.decodeEntities('{{ event.title }}'),
                start: moment("{{ event.from_date|date:"c"}}"),
                {% if event.to_date %}
                end: moment("{{ event.to_date|date:"c"}}"),
                {% endif %}
                url: '{% group_url "cosinnus:event:event-detail" group=event.group slug=event.slug ignoreErrors=True %}'
            },
            {% endif %}
        
        {% endfor %}
    
    ];

    $.cosinnus.fullcalendar();
</script>
