{% extends "authentication/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sinn_auth-group-detail' group=group.pk %}">{{ group.name }}</a> <span class="divider">/</span></li>
    <li><a href="{% url 'sinn_event-entry-index' group=group.pk %}">{% trans "Events" %}</a> <span class="divider">/</span></li>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}
