{% extends "cosinnus/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'cosinnus:group-detail' group=group.name %}">{{ group.name }}</a> <span class="divider">/</span></li>
    <li><a href="{% url 'cosinnus:event:list' group=group.name %}">{% trans "Events" %}</a> <span class="divider">/</span></li>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}
