{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
	{% if form_view == "add" %}
	  {% trans "Add unscheduled event" %}
	{% elif form_view == "edit" %}
	  {% trans "Edit" %} {{ event.title }}
	{% endif %}
{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">
	        {% if form_view == "add" %}
			  {% trans "Add unscheduled event" %}
			{% elif form_view == "edit" %}
			  {% trans "Edit" %} {{ event.title }}
			{% endif %}
        </li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" with return_to="doodle" %}
{% endblock leftnav %}

{% block content %}

    <!-- a box with semi transparent background -->
	<div class="content-box">
	   <form method="POST" action="" id="form-event">{% csrf_token %}
      {% for formset in inlines %}
        {{ formset.management_form }}
      {% endfor %}

		    <div type="button" class="btn btn-default w100">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left btn-emphasized" href="#">
		                    <i class="fa fa-plus"></i>
		                </a>
		                <div class="media-body">
		                    
		                    {{ form.forms.obj.title.errors }}
	                        {% captureas placeholder %}{% trans "Gib einen Titel für die Veranstaltung an." %}{% endcaptureas %}
                            {% if request.GET.title %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder value=request.GET.title %}
                            {% else %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder %}
	                        {% endif %}
	                        
				                <input type="hidden" id="id_from_date_1" name="from_date_1" />
				                <input type="hidden" id="id_to_date_1" name="to_date_1" />
												<ol class="input-area">
															<li id="calendar-doodle-days-selector">
																<div class="small-calendar"></div>
																<div id="calendar-doodle-days-selector-list">
																	<table>
																		<thead>
																			<tr>
																				<th></th>
																				<th></th>
																				<th>{% trans "Time" %}</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr style="display:none;">
																				<td>
																					<i class="fa fa-trash-o"></i>
																				</td>
																				<td></td>
																				<td><input /></td>
																			</tr>
																		</tbody>
																	</table>
																	<p>{% trans "Please select the available days in the calendar." %}</p>
																	<p>{% trans "You can select the same day more than once." %}</p>
																	<p>{% trans "Time: e.g. 10 or 10:30." %}</p>
																</div>
															</li>
												</ol><!-- input-area -->

	                        {% include 'cosinnus/media_tags.html' %}
	                        
	                        <ol class="input-area">
                                <li class="w100">
                                    {{ form.forms.obj.note.errors }}
		                            {% captureas placeholder %}{% trans "Gib eine Beschreibung für die Veranstaltung ein (optional)." %}{% endcaptureas %}
		                            {% render_field form.forms.obj.note class+="form-control" placeholder=placeholder %}
                                </li>
                            </ol>
	                        
	                        <ol class="input-area">
                                <li class="w100">
                                    {{ form.forms.obj.url.errors }}
		                            {% captureas placeholder %}{% trans "Externer Link zur Veranstaltung (optional)." %}{% endcaptureas %}
		                            {% render_field form.forms.obj.url class+="form-control" placeholder=placeholder %}
                                </li>
                            </ol>
	                        
	                        <!--
	                        {{ form.forms.obj.location.errors }}
	                        {% captureas placeholder %}{% trans "Location (optional)." %}{% endcaptureas %}
	                        {% render_field form.forms.obj.location class+="form-control" placeholder=placeholder %}
		                    -->    
		                </div>
		            </li>
		        </ul>
		    </div>
		
		    <button type="submit" class="btn btn-emphasized" id="createDoodleButton">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-pencil"></i>
		                </a>
		                <div class="media-body">
		                    {% if form_view == "add" %}
				              {% trans "Create" %}
				            {% elif form_view == "edit" %}
				              {% trans "Save" %}
				            {% endif %}
		                </div>
		            </li>
		        </ul>
		    </button>
	   
        </form>
	
	</div><!-- content-box -->
    
{% endblock content %}

{% block extrafooter %}
{{ block.super }}

<script src="{% static 'js/cosinnus_event/cosinnus_event.js' %}"></script>

<script type="text/javascript">
$(function() {
  var formEvent = $('#form-event');
  var hasDates = false;
  var dateDataAttr = '';
  var name = '';
  var formIdx = null;

{% for formset in inlines %}
  {% for form in formset %}
  {% if form.from_date and form.from_date.value %}
  hasDates = true;
  formIdx = {{ forloop.counter0 }};
  
  
  
  dateDataAttr = '{{ form.from_date.value|date:"Y-m-d" }}';
    console.log('creating item:', dateDataAttr, 'raw date {{ form.from_date.value}}');
  
  time1= '{% if not form.errors %}{{ form.from_date.value|date:"H:i" }}{% endif %}';
  time2= '';
  $('#calendar-doodle-days-selector-list table tr')
    .last()
    .clone()
    .show()
    .attr('data-date', dateDataAttr)
    .insertBefore($('#calendar-doodle-days-selector-list table tr').last())
    .children(":first")
    .click(function() {
      $(this).parent().remove();
      $("#calendar-doodle-days-selector .small-calendar")
        .fullCalendar('render');
    })
    .next()
    .text(dateDataAttr)
    .next()
    .children()
    .attr('data-form-idx', formIdx)
    .val(time1);
    //.parent()
    //.next()
    //.children()
    //.val(time2);
    
    {% if form.id and form.id.value %}
      name = 'suggestions-' + formIdx + '-id';
      $('<input />')
        .attr('type', 'hidden')
        .attr('id', 'id_' + name)
        .attr('name', name)
        .attr('value', {{ form.id.value }})
        .appendTo(formEvent);
    {% endif %}
  {% endif %}
  {% endfor %}
{% endfor %}

  if (hasDates) {
    $('#calendar-doodle-days-selector-list table thead tr').show();
  }
  
  $("#calendar-doodle-days-selector .small-calendar").fullCalendar('render');
});


</script>
{% endblock %}
