{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Vote" context "the_verb" %}
{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="active">
    {% blocktrans with title=event.title %}Vote for {{ title }}{% endblocktrans %}
  </li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" %}
{% endblock leftnav %}

{% block content %}

    <!-- a box with semi transparent background -->
	<div class="content-box">
	    <div class="well">
	       {% for day, suggestions in suggestions_grouped.items %}
	           <p>day: {{ day }}
	           {% for suggestion in suggestions %} 
	               Sugg: {{ suggestion }}
	           {% endfor %}
	           </br>
	           </p>
	       {% endfor %}
	    </div>
	
	    <div class="well">
	        <form action="" method="post" class="form-horizontal">
			    {% csrf_token %}
			    {{ formset.management_form }}
			    
			    {% for day, forms in formset_forms_grouped.items %}
			        <p>day: {{ day }}
			        {% for form in forms %}
					    <span>{{ form.get_label }}</span>
					    {% if form.choice.errors %}
                            <span style="float:right">
                                {% for error in form.choice.errors %}
                                    {{ error }}</br>
                                {% endfor %}
                            </span>
                        {% endif %}
					    <span>
					        Choice: {{ form.choice }}
					        
					        ID: {{ form.id.as_widget }}
					        sugg_PK: {{ form.suggestion.as_widget }}
					    </span>
					    <br/>
				    {% endfor %}
				    <br/>
				    </p>
				{% endfor %}
		    </form>
	    </div>

		<div class="btn btn-emphasized w100 regular-space">
			<ul class="media-list">
				<li class="media">
					<a class="pull-left" href="#">
						<i class="fa  fa-calendar"></i>
					</a>
					<a class="pull-right" href="#">
						<i class="fa fa-chain"></i>
					</a>
					<div class="media-body">
						{{ event.title }}
					</div>
				</li>
			</ul>
		</div>
	
	
		<div class="doodle-vote-table">
			<div>
				<div></div>
				<div class="doodle-vote-date">
					9.5.2014
				</div>
				<div class="doodle-vote-date">
					13.5.2014
				</div>
				<div class="doodle-vote-date">
					11.11.2014
				</div>
				<div class="doodle-vote-date">
					24.12.2014
				</div>
				<div class="doodle-vote-date">
					25.12.2014
				</div>
				<div class="doodle-vote-date">
					24.12.2015
				</div>
			</div>
	
			<div>
				<div></div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					früh
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
			</div>
	
			<div>
				<div>
					<img src="avatar.png" />
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
			</div>
	
			<div>
				<div>
					<img src="avatar2.png" />
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-no">
					<i class="fa fa-times"></i>
				</div>
			</div>
	
			<div>
				<div>
					<img src="avatar.png" />
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-yes">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-yes">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-maybe">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-yes">
					<i class="fa fa-times"></i>
				</div>
				<div class="doodle-vote-yes">
				(<i class="fa fa-check"></i>)
				</div>
				<div class="doodle-vote-yes">
				<i class="fa fa-check"></i>
				</div>
				<div class="doodle-vote-yes">
					<i class="fa fa-times"></i>
				</div>
			</div>
	
	
			<h2>Wann hast du Zeit?</h2>
			<div>
				<div></div>
				<div class="doodle-vote-date">
					9.5.2014
				</div>
				<div class="doodle-vote-date">
					13.5.2014
				</div>
				<div class="doodle-vote-date">
					11.11.2014
				</div>
				<div class="doodle-vote-date">
					24.12.2014
				</div>
				<div class="doodle-vote-date">
					25.12.2014
				</div>
				<div class="doodle-vote-date">
					24.12.2015
				</div>
			</div>
	
			<div>
				<div></div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					früh
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
				<div class="doodle-vote-time">
					12:00
				</div>
				<div class="doodle-vote-time">
					17:00
				</div>
			</div>
	
			<div class="doodle-vote-inputarea">
				<div>
					<img src="avatar.png" />
				</div>
				<div class="doodle-vote-maybe">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-yes">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-maybe">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
				<div class="doodle-vote-no">
					<a href="#" data-doodle-option="yes">ja</a>
					<a href="#" data-doodle-option="maybe">evtl</a>
					<a href="#" data-doodle-option="no">nein</a>
				</div>
			</div>
	
	
			<h2>Erstelle eine Veranstaltung aus einem der Termine.</h2>
			<div>
				<div>
					<i class="fa fa-check"></i><br />
					(<i class="fa fa-check"></i>)<br />
					<i class="fa fa-times"></i>
				</div>
				<div>
					4<br />
					6<br />
					<strong>20</strong>
				</div>
				<div>
					4<br />
					6<br />
					<strong>20</strong>
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
				<div>
					4<br />
					6<br />
					20
				</div>
			</div>
	
			<div>
				<div></div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="doodle-vote-eventbutton">
					<i class="fa fa-calendar"></i>
				</div>
			</div>
	
	
		</div><!-- table -->


	</div><!-- content-box -->

{% if user|has_write_access:event %}
  {% captureas modal_id %}deleteModal_{{event.slug}}{% endcaptureas %}
  <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-eraser"></i>
        </a>
        <div class="media-body">
          {% trans "Delete" %}
        </div>
      </li>
    </ul>
  </button>
  <button type="button" class="btn btn-emphasized" href="{% url "cosinnus:event:doodle-edit" group=group.slug slug=event.slug %}">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-pencil"></i>
        </a>
        <div class="media-body">
          {% trans "Edit" %}
        </div>
      </li>
    </ul>
  </button>
  <button type="button" class="btn btn-emphasized">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-floppy-o"></i>
        </a>
        <div class="media-body">
          {% trans "Save" %}
        </div>
      </li>
    </ul>
  </button>

  {% captureas label %}{% blocktrans with title=event.title %}Do you really want to delete unscheduled event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
  {% captureas title %}{% trans "Delete unscheduled event" %}{% endcaptureas %}
  {% captureas action %}{% url 'cosinnus:event:doodle-delete' group=group.slug slug=event.slug%}{% endcaptureas %}

  {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
{% endif %}
{% endblock content %}
