{% extends "cosinnus_event/base.html" %}
{% load i18n l10n static %}


{% block page_title %}
{{ object.title }} {{ block.super }}
{% endblock page_title %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'geoposition/geoposition.css' %}">
{% endblock extrahead %}


{% block content %}
<div class="cosinnus-event">
  <h1>{{ group.name }}: {{ object.title }}</h1>

  <div class="row">
    <div class="col-md-6">
      {% if object.from_date %}
      <strong>{% trans "Start" %}</strong> {{ object.from_date|date:"d. F Y h:i" }}<br />
      {% endif %}
      {% if object.to_date %}
      <strong>{% trans "End" %}</strong> {% if object.single_day %}{{ object.to_date|date:"h:i" }}{% else %}{{ object.to_date|date:"d. F Y h:i" }}{% endif %}<br />
      {% endif %}
      <strong>{% trans "Created by" %}</strong> {{ object.created_by }}<br />
      {% if object.state %}
      <strong>{% trans "State" %}</strong> {{ object.get_state_display }}<br />
      {% endif %}
      {% if object.note %}
      <strong>{% trans "Note" %}</strong><br />
      <div class="well">{{ object.note|linebreaksbr }}</div>
      <br />
      {% endif %}
    </div>
    <div class="col-md-6">
      {% if object.location %}
      <strong>{% trans "Location" %}:</strong>
      <p class="geoposition-widget">
          <input class="geoposition" value="{{ object.location.latitude|unlocalize }}">
          <input class="geoposition" value="{{ object.location.longitude|unlocalize }}">
      </p>
      {% endif %}
      {% if object.street %}
      <strong>{% trans "Street" %}</strong> {{ object.street }}<br />
      {% endif %}
      {% if object.zipcode %}
      <strong>{% trans "ZIP code" %}</strong> {{ object.zipcode }}<br/>
      {% endif %}
      {% if object.city %}
      <strong>{% trans "City" %}</strong> {{ object.city }}<br />
      {% endif %}
    </div>
  </div>

  <hr />

    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'cosinnus:event:entry-edit' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
            <li><a href="{% url 'cosinnus:event:entry-delete' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'cosinnus:event:entry-vote' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-user"></span> {% trans "Vote" context "the verb" %}</a></li>
        </ul>
    </div>

  <hr />

  <h3>{% trans "Suggestions" %}</h3>
  <ul class="list-group">
    {% for suggestion in object.suggestions.all %}
    <li class="list-group-item">
      {% if suggestion.single_day %}
        {{ suggestion.from_date|date:"d. F Y h:i" }} - {{ suggestion.to_date|date:"h:i" }}
      {% else %}
        {{ suggestion.from_date|date:"d. F Y h:i" }} - {{ suggestion.to_date|date:"d. F Y h:i" }}
      {% endif %}
      {% if suggestion.votes.all %}
        ({{ suggestion.count }})
        {% for vote in suggestion.votes.all %}
          {% if not forloop.first %}, {% endif %}{{ vote.voter }}
        {% endfor %}
      {% else %}
        {% trans "No votes for this suggestion." %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
<script src="{% static 'geoposition/geoposition.js' %}"></script>
{% endblock extrafooter %}
