{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Events" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
            <li class="active">{% trans "Planned Events" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" %}
{% endblock leftnav %}

{% block content %}
    {% if not request.user or not request.user.is_authenticated %} 
        {% include "cosinnus/not_logged_in_alert.html" %}
    {% endif %}

	<!-- a box with semi transparent background -->
	<div class="content-box large-space">
	    
        {% include 'cosinnus/common/filter_controls.html' %}        
	    
        {% captureas cosinnus_app_list_url %}cosinnus:{{ COSINNUS_CURRENT_APP }}:list{% endcaptureas %}
            
	    {% for event in future_events %}
        {% include 'cosinnus_event/list_object.html' %}
	   {% empty %}
	       <p>{% trans "Es sind keine aktuellen oder zukünftigen Veranstaltungen geplant." %}</p>
	   {% endfor %}
	   
	</div><!-- content-box -->
	
{% endblock content %}
