{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
	{% if form_view == "add" %}
	  {% trans "Add event" %}
	{% elif form_view == "edit" %}
	  {% trans "Edit" %} {{ event.title }}
	{% endif %}
{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">
	        {% if form_view == "add" %}
			  {% trans "Add event" %}
			{% elif form_view == "edit" %}
			  {% trans "Edit" %} {{ event.title }}
			{% endif %}
        </li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" with return_to="events"%}
{% endblock leftnav %}

{% block content %}
    <!-- a box with semi transparent background -->
	<div class="content-box">
	
	    <div type="button" class="btn btn-default w100">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left btn-emphasized" href="#">
	                    <i class="fa fa-plus"></i>
	                </a>
	                <div class="media-body">
	                    {{ form.forms.obj.title.errors }}
                        {% captureas placeholder %}{% trans "Gib einen Titel für die Veranstaltung an." %}{% endcaptureas %}
                        {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder %}
                        
	                    <ol class="input-area">
	                                <li class="calendar-date-time-chooser">
	                                    Von
	                                    <i class="fa fa-calendar"></i>
	                                    <input
	                                        placeholder="Datum"
	                                        readonly ="readonly"
	                                        class="calendar-date-time-chooser-date" />
	                                    <input
	                                        placeholder="Zeit"
	                                        class="calendar-date-time-chooser-time"
	                                        value="" />
	                                    <input type="hidden"
	                                        class="calendar-date-time-chooser-hiddendate"
	                                        value="2014-04-28" />
	                                    <div class="small-calendar"></div>
	                                </li>
	                                <li class="calendar-date-time-chooser">
	                                    Bis
	                                    <i class="fa fa-calendar"></i>
	                                    <input
	                                        placeholder="Datum"
	                                        readonly ="readonly"
	                                        class="calendar-date-time-chooser-date" />
	                                    <input
	                                        placeholder="Zeit"
	                                        class="calendar-date-time-chooser-time"
	                                        value="morgens" />
	                                    <input type="hidden"
	                                        class="calendar-date-time-chooser-hiddendate"
	                                        value="2014-05-28" />
	                                    <div class="small-calendar"></div>
	                                </li>
	                    </ol>
	
	                    <ol class="input-area">
	                                <li>
	                                    <i class="fa fa-map-marker"></i>
	                                    <input type="hidden" class="location-selector" data-tags="Berlin, Kreuzberg, Oranienhof, Köln, Paris, London, Frankfurt, New York, Peking" data-placeholder="Ort" />
	                                </li>
	                    </ol>
	
                        {% include 'cosinnus/media_tags.html' %}

                        {{ form.forms.obj.note.errors }}
                        {% captureas placeholder %}{% trans "Gib eine Beschreibung für die Veranstaltung ein (optional)." %}{% endcaptureas %}
                        {% render_field form.forms.obj.note class+="form-control" placeholder=placeholder %}
                        
                        {{ form.forms.obj.url.errors }}
                        {% captureas placeholder %}{% trans "Externer Link zur Veranstaltung (optional)." %}{% endcaptureas %}
                        {% render_field form.forms.obj.url class+="form-control" placeholder=placeholder %}
                        
                        {{ form.forms.obj.location.errors }}
                        {% captureas placeholder %}{% trans "Location (optional)." %}{% endcaptureas %}
                        {% render_field form.forms.obj.location class+="form-control" placeholder=placeholder %}
                        
                        
                        
	                </div>
	            </li>
	        </ul>
	    </div>
	
	
	    <button type="button" class="btn btn-emphasized" id="createDoodleButton">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                    Erstellen
	                </div>
	            </li>
	        </ul>
	    </button>
	
	
	
	</div><!-- content-box -->
    
{% endblock content %}
