{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
	{% if form_view == "add" %}
	  {% trans "Add event" %}
	{% elif form_view == "edit" %}
	  {% trans "Edit" %} {{ event.title }}
	{% endif %}
{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">
	        {% if form_view == "add" %}
			  {% trans "Add event" %}
			{% elif form_view == "edit" %}
			  {% trans "Edit" %} {{ event.title }}
			{% endif %}
        </li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" with return_to="events"%}
{% endblock leftnav %}

{% block content %}

    <!-- a box with semi transparent background -->
	<div class="content-box">
	   <form method="POST" action="">{% csrf_token %}
		    <div type="button" class="btn btn-default w100">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left btn-emphasized" href="#">
		                    <i class="fa fa-plus"></i>
		                </a>
		                <div class="media-body media-body-form-control">
		                    {{ form.forms.obj.non_field_errors }}
                            {{ form.forms.media_tag.non_field_errors }}
		                    
		                    {{ form.forms.obj.title.errors }}
	                        {% captureas placeholder %}{% trans "Enter a title for the new event." %}{% endcaptureas %}
                            {% if request.GET.title %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder value=request.GET.title %}
                            {% else %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder %}
	                        {% endif %}
	                        
                            {{ form.forms.obj.from_date.errors }}
                            {{ form.forms.obj.to_date.errors }}
		                    <ol class="input-area">
		                                <li class="calendar-date-time-chooser">
		                                    {% trans "From" %} <i class="fa fa-calendar"></i>
		                                    <input
		                                        placeholder="{% trans "Date" %}"
		                                        readonly ="readonly"
		                                        class="calendar-date-time-chooser-date" />
				                            {% captureas placeholder %}{% trans "Start date." %}{% endcaptureas %}
				                            <input class="calendar-date-time-chooser-hiddendate" id="id_from_date_0" name="from_date_0" 
				                                placeholder="{{ placeholder }}" type="hidden" 
				                                {% if form_view == "add" and request.GET.start %}
                                                value="{{ request.GET.start }}" 
                                                {% elif form_view == "edit" %}
                                                value="{{ form.forms.obj.from_date.value|date:"Y-m-d" }}" 
                                                {% else %}
                                                value="{% now "Y-m-d" %}" 
                                                {% endif %}
                                            >
                                            <input class="calendar-date-time-chooser-time" id="id_from_date_1" name="from_date_1" 
                                                placeholder="{% trans "Time" %}" type="text" 
                                                value="{{ form.forms.obj.from_date.value|date:"H:i" }}" 
                                            >                                           
		                                    <div class="small-calendar"></div>
		                                </li>
		                                <li class="calendar-date-time-chooser">
		                                    {% trans "Until" %} <i class="fa fa-calendar"></i>
		                                    <input
		                                        placeholder="{% trans "Date" %}"
		                                        readonly ="readonly"
		                                        class="calendar-date-time-chooser-date" />
                                            {% captureas placeholder_until %}{% trans "End date." %}{% endcaptureas %}
                                            <input class="calendar-date-time-chooser-hiddendate" id="id_to_date_0" name="to_date_0" 
                                                placeholder="{{ placeholder_until }}" type="hidden" 
                                                {% if form_view == "add" and request.GET.end %}
                                                value="{{ request.GET.end }}" 
                                                {% elif form_view == "edit" %}
                                                value="{{ form.forms.obj.to_date.value|date:"Y-m-d" }}" 
                                                {% else %}
                                                value="{% now "Y-m-d" %}" 
                                                {% endif %}
                                            >
                                            <input class="calendar-date-time-chooser-time" id="id_to_date_1" name="to_date_1" 
                                                placeholder="{% trans "Time" %}" type="text" 
                                                value="{{ form.forms.obj.to_date.value|date:"H:i" }}" 
                                            >    
		                                    <div class="small-calendar"></div>
		                                </li>
		                                
		                                
		                    </ol>
		
	                        {% include 'cosinnus/media_tags.html' with show_files=True %}
	                        
	                        <ol class="input-area">
                                <li class="w100">
                                    {{ form.forms.obj.note.errors }}
		                            {% captureas placeholder %}{% trans "Enter a description for the event (optional)." %}{% endcaptureas %}
		                            {% render_field form.forms.obj.note class+="form-control" placeholder=placeholder %}
                                </li>
                            </ol>
	                        
	                        <ol class="input-area">
                                <li class="w100">
                                    {{ form.forms.obj.url.errors }}
		                            {% captureas placeholder %}{% trans "External Link for the event (optional)." %}{% endcaptureas %}
		                            {% render_field form.forms.obj.url class+="form-control" placeholder=placeholder %}
                                </li>
                            </ol>
	                        
	                        <!--
	                        {{ form.forms.obj.location.errors }}
	                        {% captureas placeholder %}{% trans "Location (optional)." %}{% endcaptureas %}
	                        {% render_field form.forms.obj.location class+="form-control" placeholder=placeholder %}
		                    -->    
		                </div>
		            </li>
		        </ul>
		    </div>
		
		    <button type="submit" class="btn btn-emphasized" id="createDoodleButton">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-pencil"></i>
		                </a>
		                <div class="media-body">
		                    {% if form_view == "add" %}
				              {% trans "Create" %}
				            {% elif form_view == "edit" %}
				              {% trans "Save" %}
				            {% endif %}
		                </div>
		            </li>
		        </ul>
		    </button>
	   
        </form>
	
	</div><!-- content-box -->
    
{% endblock content %}
