{% extends "cosinnus_event/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block page_title %}Event{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if event %}
        <li><a href="{% url 'cosinnus:event:entry' group=group.slug slug=event.slug %}">{{ event.title }}</a> <span class="divider">/</span></li>
        {% if form_view == 'edit' %}
            <li class="active">{% trans "Edit" %}</li>
        {% endif %}
    {% else %}
        <li class="active">{% trans "Add" %}</li>
    {% endif %}
{% endblock %}

{% block subnav_add_right %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media.css }}
    {% for formset in inlines %}
        {{ formset.media }}
    {% endfor %}
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-autocomplete.min.css' %}">
{% endblock %}

{% block content %}
<div class="row event">
  <div class="span9">
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form_view == 'add' or form_view == 'edit' %}
    {{ form|crispy }}

    {% for formset in inlines %}
    <fieldset id="formset{{ formset.prefix }}">
        {{ formset.media }}
        {{ formset.management_form }}
        <label class="control-label" for="">{% trans "Suggestions" %}</label>
        {% for inlineform in formset.forms %}
        <div class="control-group{% if inlineform.errors %} error{% endif %}">
            <div class="controls form-inline">
                {% with inlineform.from_date as field %}
                    <label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}</label>:
                    {{ field }}
                {% endwith %}
                {% with inlineform.to_date as field %}
                    <label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}</label>:
                    {{ field }}
                {% endwith %}
                {% with inlineform.DELETE as field %}
                    {{ field }}
                {% endwith %}
                {{ inlineform.id.as_widget }}
                {{ inlineform.event.as_widget }}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}

    <div class="control-group">
        <div class="controls">
            {% if not object %}
                <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
            {% else %}
                <button type="submit" class="btn btn-primary">{% trans "Save" context "sinn" %}</button>
            {% endif %}
            <a href="{% url 'cosinnus:event:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
        </div>
    </div>
    {% elif form_view == 'delete' %}
    <fieldset>
        <div class="control-group">
            <label class="control-label">{% trans "Are you sure to remove this event with all its suggestions and votes?" %}</label>
            <div class="controls">
                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                <a href="{% url 'cosinnus:event:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </fieldset>
    {% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
{# need jquery _before_ geoposition widget is included #}
<script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.inline.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/jquery-ui-autocomplete.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/jquery.ui.autocomplete-tags.js" %}"></script>
{{ form.media.js }}
<script type="text/javascript">
{% for formset in inlines %}
   $(function() {
       $('#formset{{ formset.prefix }} div.control-group').formset({
            addCssClass: 'add-row btn',
            addText: '<i class="icon-plus"></i> {% trans "Add suggestion" %}',
            deleteCssClass: 'delete-row',
            deleteText: '<i class="icon-remove"></i>',
            insertAddInSelector: true,
            insertDeleteAfter: 'div.controls.form-inline',
            prefix: '{{ formset.prefix }}',
            added: function(row) {
                $('input[data-bootstrap-widget=datetimepicker]', row).datetimepicker();
            },
       });
   });
{% endfor %}
</script>
<script type="text/javascript">
{% if not event %}
$("#id_title").focus();
{% endif %}

var availableTags = [
    {% for tag in tags %}
        "{{ tag }}",
    {% endfor %}
];
</script>
{% endblock %}
