{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Events" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
            <li class="active">{% trans "Kalender" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_event/leftnav.html" %}
{% endblock leftnav %}

{% block content %}
    {% if not request.user or not request.user.is_authenticated %} 
        {% include "cosinnus/not_logged_in_alert.html" %}
    {% endif %}

	<!-- a box with semi transparent background -->
	<div class="content-box">
	
        <div class="big-calendar large-space"></div>
        
        <script type="application/javascript">
	        var cosinnus_calendarEvents = [
		        {% for event in object_list %}
		            {% if event.from_date %}
	                {
	                    title: '{{ event.title }}',
	                    start: moment("{{ event.from_date|date:"c"}}"),
	                    {% if event.to_date %}
	                    end: moment("{{ event.to_date|date:"c"}}"),
	                    {% endif %}
	                    url: '{% url "cosinnus:event:event-edit" group=group.slug slug=event.slug %}'
	                },
	                {% endif %}
	            
	            {% endfor %}
            
            ];
        </script>
        
        {% if request.user and request.user.is_authenticated %} 
        <form method="GET" action="{% url 'cosinnus:event:event-add' group=group.slug %}">
	        <div type="button" class="btn btn-default w100 large-space">
	            <ul class="media-list">
	                <li class="media">
	                    <a class="pull-left" href="#">
	                        <i class="fa fa-plus"></i>
	                    </a>
	                    <div class="media-body">
	                        {% captureas placeholder %}{% trans "Gib den Titel für eine neue Veranstaltung ein oder klicke auf einen Tag im Kalender." %}{% endcaptureas %}
	                        <input class="form-control"
	                            placeholder="{{ placeholder }}"
	                            name="title"
	                            value="" />
	                    </div>
	                </li>
	            </ul>
	        </div>
        </form>
        {% endif %}
	
	</div><!-- content-box -->
	
	{% if request.user and request.user.is_authenticated %} 
	    <!-- Modal: Really sure you want to add the event? -->
	    <div class="modal fade" id="confirmEventModal" tabindex="1" role="dialog" aria-labelledby="confirmEventModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	                        <i class="fa fa-times"></i>
	                    </button>
	                    <h4 class="modal-title" id="confirmEventModalLabel">
	                        <i class="fa fa-calendar"></i>
	                        {% trans "Termin eintragen" %}
	                    </h4>
	                </div>
	                <div class="modal-body">
	                    <span id="calendarConfirmEventOneday">Möchtest du einen Termin für <strong id="calendarConfirmEventDate" /></strong> anlegen?</span>
	                    <span id="calendarConfirmEventMultiday">Möchtest du einen Termin von <strong id="calendarConfirmEventStart" /></strong> bis <strong id="calendarConfirmEventEnd" /></strong> anlegen?</span>
	                    
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-emphasized" data-dismiss="modal">
	                        <ul class="media-list">
	                            <li class="media">
	                                <a class="pull-left" href="#">
	                                    <i class="fa fa-times"></i>
	                                </a>
	                                <div class="media-body">
	                                    {% trans "Abbrechen" %}
	                                </div>
	                            </li>
	                        </ul>
	                    </button>
	                    
	                    <form method="GET" action="{% url 'cosinnus:event:event-add' group=group.slug %}">
	                    <input type="hidden" name="start" id="calendarConfirmStartDate" />
	                    <input type="hidden" name="end" id="calendarConfirmEndDate" />
	                    <button type="submit" class="btn btn-emphasized" id="calendarConfirmEventButton">
	                        <ul class="media-list">
	                            <li class="media">
	                                <a class="pull-left" href="#">
	                                    <i class="fa fa-check"></i>
	                                </a>
	                                <div class="media-body">
	                                    {% trans "OK" %}
	                                </div>
	                            </li>
	                        </ul>
	                    </button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div><!-- modal -->
	{% endif %}
	    
{% endblock content %}
