{% extends "cosinnus_event/base.html" %}
{% load i18n l10n static %}


{% block page_title %}
{{ object.title }} {{ block.super }}
{% endblock page_title %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'geoposition/geoposition.css' %}">
{% endblock extrahead %}


{% block content %}
<div class="cosinnus-event">

<h1>{{ group.name }}: {{ object.title }}</h1>

<table class="table">
{% if object.from_date %}
<tr>
    <th>{% trans "Start" %}</th>
    <td>{{ object.from_date|date:"d. F Y h:i" }}</td>
</tr>
{% endif %}

{% if object.to_date %}
<tr>
    <th>{% trans "End" %}</th>
    <td>{% if object.single_day %}{{ object.to_date|date:"h:i" }}{% else %}{{ object.to_date|date:"d. F Y h:i" }}{% endif %}</td>
</tr>
{% endif %}

<tr>
    <th>{% trans "Created by" %}</th>
    <td>{{ object.created_by }}</td>
</tr>

{% if object.state %}
<tr>
    <th>{% trans "State" %}</th>
    <td>{{ object.get_state_display }}</td>
</tr>
{% endif %}

{% if object.note %}
<tr>
    <th>{% trans "Note" %}</th>
    <td>{{ object.note|linebreaksbr }}</td>
</tr>
{% endif %}

{% if object.location %}
<tr>
    <th>{% trans "Location" %}:</th>
    <td>
        <p class="geoposition-widget">
            <input class="geoposition" value="{{ object.location.latitude|unlocalize }}">
            <input class="geoposition" value="{{ object.location.longitude|unlocalize }}">
        </p>
    </td>
</tr>
{% endif %}

{% if object.street %}
<tr>
    <th>{% trans "Street" %}</th>
    <td>{{ object.street }}</td>
</tr>
{% endif %}

{% if object.zipcode %}
<tr>
    <th>{% trans "ZIP code" %}</th>
    <td>{{ object.zipcode }}</td>
</tr>
{% endif %}

{% if object.city %}
<tr>
    <th>{% trans "City" %}</th>
    <td>{{ object.city }}</td>
</tr>
{% endif %}

<tr>
    <td colspan="2">
        <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'cosinnus:event:entry-edit' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                <li><a href="{% url 'cosinnus:event:entry-delete' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'cosinnus:event:entry-vote' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-user"></span> {% trans "Vote" context "the verb" %}</a></li>
            </ul>
        </div>
    </td>
</tr>
</table>
<table class="table">
    {% for suggestion in object.suggestions.all %}
        <tr>
            {% if suggestion.single_day %}
                <td>{{ suggestion.from_date|date:"d. F Y h:i" }} - {{ suggestion.to_date|date:"h:i" }}</td>
            {% else %}
                <td>{{ suggestion.from_date|date:"d. F Y h:i" }} - {{ suggestion.to_date|date:"d. F Y h:i" }}</td>
            {% endif %}
            <td>
                {% if suggestion.votes.all %}
                    ({{ suggestion.count }})
                    {% for vote in suggestion.votes.all %}
                        {% if not forloop.first %}, {% endif %}{{ vote.voter }}
                    {% endfor %}
                {% else %}
                    {% trans "No votes for this suggestion." %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
</div>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
<script src="{% static 'geoposition/geoposition.js' %}"></script>
{% endblock extrafooter %}
