{% load i18n cosinnus_tags %}
<div class="fadedown {% if not forloop.last %}regular-space{% endif %}">
    <div class="btn btn-emphasized w100">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left square-date-icon" href="#">
                  {% if event.state == 2 %}
                    <i class="fa  fa-calendar"></i>
                  {% else %}
                    <div>{{ event.from_date|date:"d" }}</div>
                    <div>{{ event.from_date|date:"M" }}</div>
                  {% endif %}
                </a>
                <a class="pull-right fadedown-clickarea" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
                {% if event.state == 2 %}
                  {% captureas detail_url %}{% url 'cosinnus:event:doodle-vote' group=group.slug slug=event.slug%}{% endcaptureas %}
                {% else %}
                  {% captureas detail_url %}{{ event.get_absolute_url }}{% endcaptureas %}
                {% endif %}
                <a class="pull-right" href="{{ detail_url }}">
                    <i class="fa fa-chain"></i>
                </a>
                <div class="media-body">
                    {% with creator=event.creator %}
                        <span class="annotation">von <a href="{{ creator.cosinnus_profile.get_absolute_url }}" >{{ creator|full_name }}</a></span>
                    {% endwith %}
                    <a href="{{ detail_url }}">
                        {{ event.title }}
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="btn btn-white w100">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-clock-o"></i>
                </a>
                <div class="media-body">
                    <span class="moment-data-date" data-date="{{ event.from_date|date:"c" }}" title="{{ event.from_date }}"></span>
                    –
                    <span class="moment-data-date" data-date="{{ event.to_date|date:"c" }}" title="{{ event.to_date }}"></span>
                </div>
            </li>
        </ul>
    </div>
    {% if event.media_tag_object.location %}
    <div class="btn btn-white w100">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-map-marker"></i>
                </a>
                <div class="media-body">
                      {{ event.media_tag_object.location }}
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if event.note and event.note|length > 0 %}
    <div class="btn btn-white w100 {% if not event.url %}large-space{% endif %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="media-body">
                    <p>
                        {{ event.note|urlizetrunc:25|linebreaks }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if event.url %}
    <div class="btn btn-white w100 large-space">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-chain"></i>
                </a>
                <div class="media-body">
                    <a href="{{ event.url }}">{{ event.url }}</a>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}


    {% include 'cosinnus/media_tags_readonly.html' with object=event %}

    {% if user|has_write_access:event %}
        {% captureas modal_id %}deleteModal_{{event.slug}}{% endcaptureas %}
        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-eraser"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Löschen" %}
                    </div>
                </li>
            </ul>
        </button>
      {% if event.state == 2 %}
        {% captureas edit_url %}{% url "cosinnus:event:doodle-edit" group=group.slug slug=event.slug %}{% endcaptureas %}
      {% else %}
        {% captureas edit_url %}{% url "cosinnus:event:event-edit" group=group.slug slug=event.slug %}{% endcaptureas %}
      {% endif %}
        <button type="button" class="btn btn-emphasized" href="{{ edit_url }}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Bearbeiten" %}
                    </div>
                </li>
            </ul>
        </button> 
    {% endif %}
</div><!-- fadedown -->

{% if user|has_write_access:event %}    
      {% if event.state == 2 %}
        {% captureas label %}{% blocktrans with title=event.title %}Do you really want to delete unscheduled event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
        {% captureas title %}{% trans "Delete unscheduled event" %}{% endcaptureas %}
        {% captureas action %}{% url 'cosinnus:event:doodle-delete' group=group.slug slug=event.slug%}{% endcaptureas %}
      {% else %}
        {% captureas label %}{% blocktrans with title=event.title %}Do you really want to delete event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
        {% captureas title %}{% trans "Delete event" %}{% endcaptureas %}
        {% captureas action %}{% url 'cosinnus:event:event-delete' group=group.slug slug=event.slug%}{% endcaptureas %}
      {% endif %}

    {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
{% endif %}
