{% load i18n static cosinnus_tags widget_tweaks %}

{# this template expects an {{ event }} object to be passed to it. Also accepts hide_control_buttons to hide edit/delete buttons #}

<div class="fadedown">
    <div class="btn btn-emphasized w100 {% if event.attached_image %}button-with-title-image{% endif %}">
        {% if event.attached_image %}
	        <img src="{{ event.attached_image.static_image_url }}" />
	        <div></div> <!-- Gradient overlay -->
        {% endif %}
        <ul class="media-list">
            <li class="media">
                <a class="pull-left square-date-icon" href="#">
                    {% if event.state == 2%}
                        <i class="fa  fa-calendar"></i>
                    {% else %}
	                    <div>{{ event.from_date|date:"d" }}</div>
	                    <div>{{ event.from_date|date:"M" }}</div>
	                {% endif %}
                </a>
                <a class="pull-right fadedown-clickarea" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
                <a class="pull-right" href="{{ event.get_absolute_url }}">
                    <i class="fa fa-chain"></i>
                </a>
                <div class="media-body">
                	{% with creator=event.creator %}
                        <span class="annotation">{% trans "by" %} <a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></span>
                    {% endwith %}
                    <a href="{{ event.get_absolute_url }}">
                        {{ event.title }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    {% include 'cosinnus/media_tags_readonly.html' with object=event hide_attached=True %}
    
    {% if user|has_write_access:event and not hide_control_buttons %}
        {% captureas modal_id %}deleteModal_{{object.slug}}{% endcaptureas %}
        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-eraser"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Delete" %}
                    </div>
                </li>
            </ul>
        </button>
        <button type="button" class="btn btn-emphasized" href="{% group_url "cosinnus:event:event-edit" group=group slug=event.slug %}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Edit" %}
                    </div>
                </li>
            </ul>
        </button> 
    {% endif %}
    
    {% include 'cosinnus/feedback/report_button_btn.html' with object=event %}
    
</div><!-- fadedown -->

{% if user|has_write_access:event and not hide_control_buttons %}    
    {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Delete Event" %}{% endcaptureas %}
    {% captureas action %}{% group_url 'cosinnus:event:event-delete' group=group slug=object.slug%}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
{% endif %}

{% if event.state != 2 %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-clock-o"></i>
            </a>
            <div class="media-body">
                {% if event.state == 3 %}
                    {% trans "(Canceled!)" %}
                {% endif %}
                
                {% include 'cosinnus_event/common/humanized_event_time.html' with event=event %}
            </div>
        </li>
    </ul>
</div>
{% endif %}

{% if event.media_tag_object.location %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-map-marker"></i>
            </a>
            <div class="media-body">
			      {{ event.media_tag_object.location }}
            </div>
        </li>
    </ul>
</div>
{% endif %}
<div class="btn btn-white w100 {% if not event.url %}{% if not event.attached_objects.exists %}large-space{% endif %}{% endif %}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-pencil"></i>
            </a>
            <div class="media-body">
                <p>
                {% if event.note and event.note|length > 0 %}
                    {{ event.note|urlizetrunc:25|url_target_blank|linebreaksbr }}
                {% else %}
                    {% trans "(No description set)" %}
                {% endif %}
                </p>
            </div>
        </li>
    </ul>
</div>
{% if event.url %}
<div class="btn btn-white w100 {% if not event.attached_objects.exists %}large-space{% endif %}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-chain"></i>
            </a>
            <div class="media-body">
                <a href="{{ event.url }}">{{ event.url }}</a>
            </div>
        </li>
    </ul>
</div>
{% endif %}

{% if event.attached_objects.exists %}
    {% cosinnus_render_attached_objects event %}
{% endif %}
