{% load i18n static cosinnus_tags widget_tweaks %}

{% captureas cosinnus_app_list_url %}cosinnus:{{ COSINNUS_CURRENT_APP }}:list{% endcaptureas %}

{# this template expects an {{ event }} object to be passed to it #}

<div class="fadedown">
    <div class="btn btn-emphasized w100 {% if event.attached_image %}button-with-title-image{% endif %}">
        {% if event.attached_image %}
	        <img src="{{ event.attached_image.static_image_url }}" />
	        <div></div> <!-- Gradient overlay -->
        {% endif %}
        <ul class="media-list">
            <li class="media">
                <a class="pull-left square-date-icon" href="#">
                    <div>{{ event.from_date|date:"d" }}</div>
                    <div>{{ event.from_date|date:"M" }}</div>
                </a>
                <a class="pull-right fadedown-clickarea" href="#">
                    <i class="fa fa-chevron-down"></i>
                </a>
                <a class="pull-right" href="{{ event.get_absolute_url }}">
                    <i class="fa fa-chain"></i>
                </a>
                <div class="media-body">
                    <a href="{{ event.get_absolute_url }}">
                        {{ event.title }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    {% include 'cosinnus/media_tags_readonly.html' with object=event %}
    
    {% if user.is_superuser or user|is_group_member:group %}
        {% captureas modal_id %}deleteModal_{{object.slug}}{% endcaptureas %}
        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-eraser"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Löschen" %}
                    </div>
                </li>
            </ul>
        </button>
        <button type="button" class="btn btn-emphasized" href="{% url "cosinnus:event:event-edit" group=group.slug slug=event.slug %}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Bearbeiten" %}
                    </div>
                </li>
            </ul>
        </button> 
    {% endif %}
</div><!-- fadedown -->

{% if user.is_superuser or user|is_group_member:group %}    
    {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Event löschen" %}{% endcaptureas %}
    {% captureas action %}{% url 'cosinnus:event:event-delete' group=group.slug slug=object.slug%}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
{% endif %}

<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-clock-o"></i>
            </a>
            <div class="media-body">
                <span class="moment-data-date" data-date="{{ event.from_date|date:"c" }}" title="{{ event.from_date }}"></span>
                –
                <span class="moment-data-date" data-date="{{ event.to_date|date:"c" }}" title="{{ event.to_date }}"></span>
            </div>
        </li>
    </ul>
</div>
{% if event.media_tag_object.location %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-map-marker"></i>
            </a>
            <div class="media-body">
			      {{ event.media_tag_object.location }}
            </div>
        </li>
    </ul>
</div>
{% endif %}
{% if event.note and event.note|length > 0 %}
<div class="btn btn-white w100 {% if not event.url %}large-space{% endif %}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-pencil"></i>
            </a>
            <div class="media-body">
                <p>
                    {{ event.note|urlizetrunc:25|linebreaks }}
                </p>
            </div>
        </li>
    </ul>
</div>
{% endif %}
{% if event.url %}
<div class="btn btn-white w100 large-space">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-chain"></i>
            </a>
            <div class="media-body">
                <a href="{{ event.url }}">{{ event.url }}</a>
            </div>
        </li>
    </ul>
</div>
{% endif %}
