{% extends "cosinnus_event/base.html" %}
{% load i18n %}
{% block page_title %}Event{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'cosinnus:event:entry' group=group.name slug=event.slug %}">{{ event.title }}</a> <span class="divider">/</span></li>
    <li class="active">{% trans "Vote" context "the verb" %}</li>
{% endblock %}

{% block subnav_add_right %}{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table">
        {% for form in formset.forms %}
        <tr class="{% if form.errors %}error{% endif %}">
            <td>{{ form.get_label }}</td>
            <td>
                {% for radio in form.vote %}
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                {% endfor %}
                {% if form.vote.errors %}
                    <span style="float:right">
                        {% for error in form.vote.errors %}
                            {{ error }}</br>
                        {% endfor %}
                    </span>
                {% endif %}
                {{ form.id.as_widget }}
                {{ form.suggestion.as_widget }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans "Vote" context "the verb" %}</button>
            <a href="{% url 'cosinnus:event:entry' group=group.name slug=event.slug %}" class="btn">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>
{% endblock %}
